
 
body {
   
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  }
  
  
  .container {
    text-align: center;
  }
  .keys {
 
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .key {
 
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    text-shadow: 0 0 .5rem white;

    display: inline-block;
        margin: 5px;
        border: 1px solid #ccc;
        padding: 10px;
        cursor: pointer;
  }
  
  .playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
    ;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
    ;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
    border-color: #ff4500;
        transform: scale(1.1);
  } 